.login-container{
    width: 100%;
    margin: 0 auto;
    /* float: left; */
    position: relative;
    top: 10px;
    display: table;
    height: 100%;
    overflow-y: hidden;
}
.login-inner-container{
    width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
    height: 150px;
    position: relative;
    /* display: table-cell; */
    vertical-align: middle;
}

/* .footer_container.footer-login {
    width: 100%;
    margin: 0 auto;
    float: left;
    bottom: 0;
    position: fixed;
} */

.user-icon{
    position: absolute;
    width: 100px;
    bottom: -33px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.login-btn{
    width: 100%;
    margin: 50px auto 70px;
    text-align: center;
}

.login-btn p{
    width: 100%;
    margin: 10px auto 20px;
    position: relative;
    color: gray;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
}

button.btn{
    background-color: #32b8a4;
    border-color: #32b8a4;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: 0;
    padding: 10px 20px;
    top: 0;
    /* margin: 50px auto 70px; */
}
/* popup css */

h5.modal-title{
    text-align: center;
    margin: 0 auto;
    color: gray;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.modal-header.popup-header{
    border-bottom: 0;
    padding-bottom: 0;
}

form input.form-input{
    margin: 10px 0;
    padding: 20px 10px;
    letter-spacing: 1px;
    border: 1.5px solid #b3b3b3;
    color: #d9d9d9;
    outline: 0;
}
.popup-chkbox{
    width: 100%;
    margin: 0 auto 25px;
}
.popup-chkbox .form-check{
    display: inline;
    padding-right: 20px;
} 

.popup-chkbox label{
    font-weight: 600;
    color: #606060;
}

button.popup-btn{
    width: 100%;
    outline: 0;
}

.forget-pwd{
    width: 100%;
    margin: 5px auto;
    clear: both;
}

.forget-pwd p{
    display: inline-block;
    color: gray;
    letter-spacing: 1px;
    font-size: 13px;
}

.forget-pwd p.right{
    float: right;
    color: #32b8a4;

}

.hr{
    border-top: 2px solid #e6e6e6;
    margin-top: 0;
    margin-bottom: 0;
}

.modal-footer.popup-footer{
    border-top: 0;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: initial;
    padding-bottom: 0;
    padding-top: 0; 
}

.popup-social-icons{
    width: 100%;
    margin: 10px auto;
    position: relative;
    border: 1.5px solid #e6e6e6;
    /* float: left; */
    /* padding: 10px 10px; */
}

.popup-social-icons a{
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
}

.icon-img{
    width: 22%;
    border-right: 1.5px solid #e6e6e6;
    margin: 0 auto;
    display: inline-block;
    /* padding-right: 10px; */
}

.icon-img img{
    width: 60px;
    padding: 10px;
    max-width: 60px;
}

.icon-name{
    width: 78%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

.icon-name p{
    color: gray;
    letter-spacing: 1px;
    font-weight: 600;
}

.modal-dialog.modal-dialog-centered.popup-modal{
    width: 350px;
}

.modal-content.popup-content{
    width: 100%;
    padding: 15px;
}

.icon-email{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 15px 10px;
}

.icon-email p{
    color: #32b8a4;
    letter-spacing: 1px;
    
}